commands:
  01_install_gcc_c++_compiler_cmake_and_upgrade_pip_setuptools:
    command: |
        yum -y install gcc-c++
        yum -y install cmake
        source /opt/python/run/venv/bin/activate
        pip install --upgrade pip==19.0.3
        pip install --upgrade setuptools==40.8.0
    ignoreErrors: false
